<% include partials/_header %>

<div classNameName="container mt-5">
  <div classNameName="row">
    <div classNameName="col-md-5 offset-md-3 card">
      <div classNameName="card-body">
        <form action="/update/<%= data.id %>" method="POST">
          <div classNameName="form-group">
            <input
              type="text"
              name="name"
              value="<%= data.name%>"
              placeholder="Name"
              classNameName="form-control"
              autofocus
            />
          </div>
          <div classNameName="form-group">
            <input
              type="text"
              name="address"
              value="<%= data.address%>"
              placeholder="Address"
              classNameName="form-control"
            />
          </div>
          <div classNameName="form-group">
            <input
              type="text"
              name="phone"
              value="<%= data.phone%>"
              placeholder="Phone"
              classNameName="form-control"
            />
          </div>

          <button type="submit" classNameName="btn btn-primary">
            save customer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
